@import "tailwindcss";

.blog-content{
  padding: 36px 0;
}
.blog-content b {
  margin-bottom: 10px;
  font-weight: 500;
}
.blog-content p {
  line-height: 1.75;
  font-size: 1.125rem; /* 18px */
  color: #4b5563;
  margin-bottom: 1rem
}
.blog-content ul {
  list-style-type: disc;
}
.blog-content ol {
  list-style-type: decimal;
}
.blog-content li {
  height: fit-content;
  padding-bottom: 0px;
  margin-bottom: 3px;
  margin-left: 22px;
}
.blog-content a{
color: blue;
text-decoration: underline;
}

.blog-content h1{/*nepoužívám?*/
  font-size: 2rem; /* 32px */
  font-weight: bold;
  color: #1f2937; 
}
.blog-content h2{
  font-size: 1.75rem;
  font-weight: 600;
  color: #374151;
}
.blog-content h3{
  margin-top: 16px;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 22px;
  color: #374151;
}
.blog-content h4{
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
}